{% if lists %}

        {% for list in lists %}
            <div>
                <b>{{ forloop.counter}}. <a href="{% url 'polls:details' list.id %}">{{ list.question_text}}</a></b>
            </div>
            {% for choice in list.choice_set.all %}
              <ul style="list-style:none;">
                   <li><b>{{forloop.counter}}. </b>{{ choice.title }}</li>
               </ul>
            {% endfor %}
        {% endfor %}
    </table>
{% else %}
    <p>No polls are available</p>
{% endif %}