{% extends '../doctor_base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">

		<div class="col-sm-12 col-md-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Add a New specialist</h3>
 					{% include 'pages/error_msg.html' %}
					<form class="form-horizontal" role="form" action="{% url 'create_specialist' %}" method="post"
						enctype="multipart/form-data">
						{% csrf_token %} {% include 'pages/form_template.html' %}
					</form>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-7">
			{% include "specialist/lists.html" with lists=lists %}
		</div>

	</div>
	
</div>
{% endblock %}
